<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootballPedia ⚽</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <img class="background-pic" src="/images/football pitch.jpg">
  <div class="container">
    <div class="header-div"> 
        <p><img class="title-ball" src="/images/football ball.png"></p>
        <h1 class="web-title">FootballPedia </h1>
    </div>
    <div class="homepage-content">
      <div  class="btn-flex">
        <form action="/teams">
            <button class="homepage-btn">Teams</button>
        </form>
        <form action="/players">
          <button class="homepage-btn">Players</button>
        </form>
        <form action="/topscorers">
          <button class="homepage-btn">Top Scorers</button>
        </form>
            
        <form action="/standings">
          <button class="homepage-btn">Standings</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
