<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootballPedia ⚽</title>
    <link rel="stylesheet" href="../public/styles/main.css">
</head>
<body>
  <img class="background-pic" src="../public/assets/football pitch.jpg">
  <div class="container">
    <div class="header-div"> 
        <p><img class="title-ball" src="../public/assets/football ball.png"></p>
        <h1 class="web-title">FootballPedia </h1>
    </div>
    <div class="homepage-content">
        <form class="btn-flex">
            <button class="homepage-btn">Teams</button>
            <button class="homepage-btn">Players</button>
            <button class="homepage-btn">Top Scorers</button>
            <button class="homepage-btn">Competitions</button>
        </form>
    </div>
  </div>
</body>
</html>