<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootballPedia ⚽ | player</title>
    <link rel="stylesheet" href="../public/styles/player.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container"> 
  <div class="header-div">
    <div>
      <h1 class="header">Player</h1>
    </div>
    <div class="search-flex">
      <input type="search" placeholder="Enter Player Name">
      <button class="submit-btn"> Submit </button>
    </div>
  </div>

  <div class="content-div">

  </div>

  </div>
</body>
</html>