<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootballPedia ⚽ | Top Scorers</title>
    <link rel="stylesheet" href="../public/styles/topscorer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
</head>
<body>
  <div class="main-container">
    <div class="header-div"> <h1 class="header">Top Scorers </h1></div>
    <div class="main-content">
      <div class="league-div">
        <div class="league premier-league"> <img src="../public/assets/premier league logo.png"> <h2> Premier League </h2></div>
        <div class="league la-liga"> <img src="../public/assets/la liga logo.png"> <h2> La Liga </h2></div>
        <div class="league seria-a"> <img src="../public/assets/seria a logo.png"> <h2> Seria A </h2></div>
        <div class="league bundes-liga"> <img src="../public/assets/bundesliga logo.png"> <h2> Bundesliga </h2></div>
        <div class="league league-1"> <img src="../public/assets/league 1 logo.png"> <h2> League 1 </h2></div>
      </div>
      <div class="content-div">

      </div>
    </div>
  </div>
</body>
</html>