.backout-logo {
  position: absolute;
  height: 50px;
  width: 80px;
  border-radius: 300%;
  border: 1px gray solid;
  background-color: #76ABAE;
}

.backout-logo:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.container-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.header-div {
    justify-content: center;  
}

.header {
    text-align: center;
    color: #78A083;
    font-size: 56px;
    font-family: "Acme", sans-serif;
}

.submit-btn {
    background-color: #78A083;
    border: 0px black solid;
    width: 90px;
    border-radius: 32px;
    height: 30px;
    color:  white;
  }
  
  .submit-btn:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #45a049;
    opacity: 80%;
    border: 0px black solid;
  }

  .search-flex {
    display: flex;
    gap: 10px;
  }

  .main-container {
    display: flex;
    justify-content: space-evenly;
  }

  .info-img {
    height: 150px;
    width: 150px;
  }

  .player-ul {
    list-style: none;
    padding: 0px;
  }
  
  .player-ul * li {
    text-decoration: none;
  }
  