.backout-logo {
  position: absolute;
  height: 50px;
  width: 80px;
  border-radius: 300%;
  border: 1px gray solid;
  background-color: #76ABAE;
}

.backout-logo:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 97vh;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.header-div {
  justify-content: center;
}

.header {
  text-align: center;
  color: #78A083;
  font-size: 56px;
  font-family: "Acme", sans-serif;
}

.submit-btn {
  background-color: #78A083;
  border: 0px black solid;
  width: 90px;
  border-radius: 32px;
  height: 30px;
  color: white;
}

.submit-btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #45a049;
  opacity: 80%;
  border: 0px black solid;
}

.search-flex {
  display: flex;
  gap: 10px;
}

.content-div {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-left: 15%;
  margin-right: 15%;
  height: 300px;
  overflow: auto;
}

.team-item {
  display: flex;
  flex-direction: row;
  width: 200px;
  flex: 1fr;
}

.team-item span {
  min-width: 80px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px gray solid;
  border-bottom: 1px gray solid;
}

.team-item span:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}

.space-span {
  border-bottom: 0px solid black !important;
}
.space-span:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0) !important;
}

.team-logo {
  height: 25px;
  width: 25px;
}

.team-list {
  display: flex;
  align-items: center;
}

.standings-table {
  width: 14%;
  margin: 0;
  padding: 0;
}

.standings-table li {
  height: 50px;
  margin-bottom: 10px;
}

.stat-item {
  display: flex;
  width: 900px;
}

.standing-title * {
  font-weight: bold;
}
