.main-container {
display: flex;
flex-direction: column;
gap: 30px;
height: 97vh;
}

.container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.header-div {
    justify-content: center;
}

.header {
    text-align: center;
    color: #78A083;
    font-size: 56px;
    font-family: "Acme", sans-serif;
}

.submit-btn {
    background-color: #78A083;
    border: 0px black solid;
    width: 90px;
    border-radius: 32px;
    height: 30px;
    color:  white;
  }
  
  .submit-btn:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #45a049;
    opacity: 80%;
    border: 0px black solid;
  }

  .search-flex {
    display: flex;
    gap: 10px;
  }

  .content-div {
    height: 97vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1; 
}


.team-item {
  display: flex;
  flex-direction: row;
  width: 200px;
  flex: 1fr
}

.standings-table li {
  height: 50px;
}

.stats-table li {
  height: 50px;
}

.team-item span {
  width: 100px;
  background-color: #45a049;
}


.team-logo {
  height: 25px;
  width: 25px;
}

.team-list {
   display: flex;
  align-items: center;
}

.standings-table  {
  width: 14%;
}

.standings-table li {
  margin-bottom: 10px;
}

.stats-table  {
  list-style-type: none;
}

.stats-table li {

}

.stat-item {
  display: flex;
  width: 900px;
}

.stat-item span {
  flex-grow: 1;
  text-align: center;
  border-right: 1px gray solid;
  max-width: 100px;
  min-width: 100px;
  background-color: #78A083;
}

.team-name {
  display: flex;
  gap: 10px;
}

.standing-title * {
  font-weight: bold;
}

.standings-table {
  margin: 0px;
  padding: 0px;
}

