.background-pic {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: -8px;
  object-fit: cover;
}

.container{
    height: 97vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

ol {
  height: 450px;
  overflow-y: auto;
}

ol * {
  margin-bottom: 5px;
}

ol *:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  background-color: #50727B;
}

.header-div {
    justify-content: center;
}

.header {
    text-align: center;
    color: #78A083;
    font-size: 56px;
    font-family: "Acme", sans-serif;
}

.submit-btn {
    background-color: #78A083;
    border: 0px black solid;
    width: 90px;
    border-radius: 32px;
    height: 30px;
    color:  white;
  }
  
  .submit-btn:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #45a049;
    opacity: 80%;
    border: 0px black solid;
  }

  .search-flex {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-div * {
    margin: 10px 0px 10px 0px;
  }
  
.team-logo {
  text-align: center;
}
.team-name {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
}